/* ImageSlider.css */

.carousel .slide {
  background: none;
  cursor: pointer;
}

.carousel .carousel-slider {
  overflow: hidden;
}


.carousel-overlay {
  width: 100%;
  display:inline-block;
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgb(51, 51, 51) 100%);
}
.carousel-flag-preview{
  position: absolute;
  bottom: 110px; /* Position à partir du haut de .carousel-item */
  margin-left :30px ;
  height: auto;
  width: 32px;

}
.carousel-overlay-preview {
  position: absolute; /* Positionnement absolu */
  margin: 10px;
  top: 20px; /* Position à partir du haut de .carousel-item */
  left: 20px; /* Position à partir du côté droit de .carousel-item */
  width: auto; /* Largeur fixe pour la prévisualisation */
  height: 30vh; /* Hauteur automatique pour conserver l'aspect ratio */
  overflow: hidden; /* Cache tout débordement */
  border-radius: 10px; /* Bord arrondi pour esthétique */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre portée pour un effet de profondeur */
}

.carousel .main-image  {
  position:relative;
  z-index: -1;
  display:block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center 25%;
}

.carousel-overlay-preview .preview-image {
  width: 100%; /* Remplir le conteneur parent */
  height: 100%; /* Ajustement automatique de la hauteur */
}

.carousel-flag-preview .flag-image {
  width: 100%; /* Remplir le conteneur parent */
  height: 100%; /* Ajustement automatique de la hauteur */
}

.carousel .carousel-caption {
  margin-left :10px ;
  position: absolute;
  bottom: 5%; /* Lowered to avoid obscuring important parts of the images */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Responsive width */
  height: 14vh;
  padding: 10px 20px;
  color: #fff;
  text-align: left;
  font-size: 16px; /* Uniform font size for all text */
  box-sizing: border-box; /* Ensures padding is included in width/height */
  overflow: hidden;
}
.carousel .carousel-caption h3 {
  margin-left: 40px;
}
  

.carousel .carousel-caption p {
  margin-bottom: 0;
  font-size: 18px; /* Larger for better readability */
  line-height: 1.4;
  text-overflow: ellipsis; /* Adds an ellipsis if text overflows */
}
